.logo {
  text-align: center;
}

.sign-in-text{
  margin-top: 1rem;
  color: var(--ivory);
  font-size: 1rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.sign-in-btns{
  margin-top: 1rem;
  display: block;
  justify-content: center;
  width: 100%;
}

.button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**PhishMeNot login btn**/
.fishmenot-sign-in-button {
  margin: 10px;
  display: inline-block;
  width: 240px;
  height: 50px;
  background-color: var(--ivory);
  color: var(--prussian-blue);
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.fishmenot-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.fishmenot-sign-in-button:active {
  background-color: var(--ash-gray-2);
  transition: background-color 0.2s;
}

.fishmenot-sign-in-button .logo-wrapper{
  padding: 15px;
  background: var(--ivory); /*NEED TO CHANGE THIS TO THE ACTUAL COLOR OF THE LOGO BACKGROUND*/
  width: 48px;
  height: 100%;
  border-radius: 1px;
  display: inline-block;
}

.fishmenot-sign-in-button img {
  width: 21px;
  height: 21px;
}

/* GOOGLE SIGN IN BUTTON */
.g-sign-in-button {
  margin: 10px;
  display: inline-block;
  width: 240px;
  height: 50px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}

.g-sign-in-button img{
  width: 18px;
  height: 18px;
}

.g-sign-in-button .logo-wrapper {
  padding: 15px;
  background: #fff;
  width: 48px;
  height: 100%;
  border-radius: 1px;
  display: inline-block;
}

.text-container {
  font-family: Roboto,arial,sans-serif;
  font-weight: 500;
  letter-spacing: .21px;
  font-size: 16px;
  line-height: 48px;
  vertical-align: top;
  border: none;
  display: inline-block;
  text-align: center;
  width: 180px;
}