

#popup-securite {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff; /* Changez la couleur du texte ici */
  text-align: center;
  background-color: #4d26fc; /* Changez la couleur de fond ici */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 2s ease-in-out;
  overflow: hidden; /* Pour masquer le débordement de l'image */
}

#popup-securite strong {
  font-size: 18px;
  color: #3cff00; /* Changez la couleur du texte fort (strong) ici */
}

#popup-image {
  width: 100%; /* Pour assurer une largeur maximale de l'image */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Ajout de l'animation de cadre (LED) */
@keyframes borderAnimation {
  0%, 100% {
    border: 2px solid rgb(10, 10, 10); /* Couleur de bord quand la LED est éteinte */
    box-shadow: none;
  }
  50% {
    border: 2px solid #92780e; /* Couleur de bord quand la LED est allumée */
    box-shadow: 0 0 20px #978c61; /* Effet de lumière autour de la LED */
  }
}
