<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card">
      <header>
        <h3>PhishMeNot/Analyse</h3>
        <div class="user_circle">
          U
        </div>
      </header>
      <div class="body">
        <div class="container_input">
          <input type="text" placeholder="https://test.com" />
          <button>-></button>
        </div>
        <div class="container">
          <h4>Resultat:</h4>
          <div class="item_analyse">
            <span>Disponibility</span>
            <span class="resultat">On</span>
          </div>
          <div class="item_analyse">
            <span>SSL certificat</span>
            <span class="resultat">On</span>
          </div>
          <div class="item_analyse">
            <span>Domain reputation</span>
            <span class="resultat">Clean</span>
          </div>
          <div class="item_analyse">
            <span>Content analysis</span>
            <span class="resultat">Clean</span>
          </div>
          <div class="item_analyse">
            <span>Comparing URL with blacklists</span>
            <span class="resultat">Clean</span>
          </div>
          <div class="item_analyse">
            <span>Link analysis</span>
            <span class="resultat">Clean</span>
          </div>
          <div class="item_analyse">
            <span>Analysis of known threats</span>
            <span class="resultat">Clean</span>
          </div>
          <div class="item_analyse">
            <span>Loading Speed ​​Rating</span>
            <span class="resultat">85%</span>
          </div>
        </div>
        <div class="status">
          <img src="../assets/ok.png" alt="">
        </div>
      </div>
      <div class="right">
        <p>PhishMeNot All Right reserved</p>
        <p>© 2023</p>
      </div>
    </div>
  </body>
</html>
