<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="dashboard.css" />
  </head>
  <body>
    <div class="card">
      <header>
        <div class="logo">
          <img src="../../static/images/logo/icon_128.png" alt="PhishMeNot Logo">
        </div>
      </header>
      <div class="content">
        <div class="btn_filter">
          <button>Filter</button>
        </div>
        <div class="list_history">
          <div class="item">
            <img src="../../static/images/ok.png" alt="" />
            <div class="info">
              <h4>http://test.com</h4>
              <p>Phishing</p>
            </div>
            <div class="icons">
              <button>
                <img src="../../static/images/ok.png" />
              </button>
              <h3 class="percentage">75%</h3>
            </div>
          </div>

          <div class="item">
            <img src="../../static/images/ok.png" alt="" />
            <div class="info">
              <h4>https://test.com</h4>
              <p>clean</p>
            </div>
            <div class="icons">
              <button>
                <img src="../../static/images/ok.png" alt="" />
              </button>
              <h3 class="percentage">15%</h3>
            </div>
          </div>

        </div>
        <div class="statistics">
          <div class="item">
            <span class="circle ok">
              <span class="circle_in">
                20
              </span>
            </span>
            <p class="danger-tag">Safe websites</p>
          </div>
          <div class="item">
            <span class="circle malicious">
              <span class="circle_in">
                5
              </span>
            </span>
            <p class="danger-tag">Dangerous websites</p>
          </div>
          <div class="item">
            <span class="circle white_list">
              <span class="circle_in">
                10
              </span>
            </span>
            <p class="whitelist">My whitelist</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>PhisMeNot 2023 All Right reserved</p>
    </footer>
  </body>
</html>
