* {
  margin: 0;
  padding: 0;
}
.card {
  width: 350px;
  height: 500px;
}
.card .right {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 20px;
}
.card header {
  height: 30px;
  display: flex;
  padding: 20px;
  align-items: center;
  background: rgba(217, 217, 217, 0.14);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.body {
  height: 470px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgba(217, 217, 217, 0.14);
}
.btn_filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.btn_filter button {
  padding: 4px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}
.list_history {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 310px;
  overflow: auto;
}
.list_history .item {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.list_history .item img {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  margin-left: 10px;
}
.list_history .item .info {
  width: 80%;
}
.icons {
  display: flex;
  align-items: center;
}
.icons button {
  border: none;
  background: none;
  height: 30px;
  cursor: pointer;
  margin-right: 5px;
  padding: 0;
}
.icons h3 {
  color: greenyellow;
}
.icons button img {
  height: 25px !important;
  width: 25px !important;
}
.static {
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.static .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle_in {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ok{
  background-color: greenyellow;
}
.malicious{
  background-color: red;
}
.white_list{
  background-color: orange;
}