<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card">
      <header>
        <h3>PhishMeNot/Auth</h3>
      </header>
      <div class="body">
        <div class="btn_filter">
          <button>Filter</button>
        </div>
        <div class="list_history">
          
          <div class="item">
            <img src="../assets/ok.png" alt="" />
            <div class="info">
              <h4>https://test.com</h4>
              <p>clean</p>
            </div>
            <div class="icons">
              <button>
                <img src="../assets/ok.png" alt="" />
              </button>
              <h3>75%</h3>
            </div>
          </div>

          <div class="item">
            <img src="../assets/ok.png" alt="" />
            <div class="info">
              <h4>https://test.com</h4>
              <p>clean</p>
            </div>
            <div class="icons">
              <button>
                <img src="../assets/ok.png" alt="" />
              </button>
              <h3>75%</h3>
            </div>
          </div>

        </div>
        <div class="static">
          <div class="item">
            <span class="circle ok">
              <span class="circle_in">
                20
              </span>
            </span>
            <p>Site non dangereux</p>
          </div>
          <div class="item">
            <span class="circle malicious">
              <span class="circle_in">
                5
              </span>
            </span>
            <p>Site dangereux</p>
          </div>
          <div class="item">
            <span class="circle white_list">
              <span class="circle_in">
                10
              </span>
            </span>
            <p>Ma white-list</p>
          </div>
        </div>
      </div>
      <div class="right">
        <p>PhisMeNot All Right reserved</p>
        <p>© 2023</p>
      </div>
    </div>
  </body>
</html>
