<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card">
      <header>
        <h3>PhishMeNot/Auth</h3>
      </header>
      <div class="body">
        <button>Login or Register with Google</button>
      </div>
      <div class="right">
        <p>PhisMeNot All Right reserved</p>
        <p>© 2023</p>
      </div>
    </div>
  </body>
</html>
