<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card">
      <header>
        <h3>PhishMeNot/Access password manager</h3>
        <div class="user_circle">
          U
        </div>
      </header>
      <div class="body">
        <div class="container_input">
          <input type="password" placeholder="Entrez votre code pin" />
          <button>Send</button>
        </div>
      </div>
      <div class="right">
        <p>PhishMeNot All Right reserved</p>
        <p>© 2023</p>
      </div>
    </div>
  </body>
</html>
