<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse website</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="card_list">
      <header>
        <h3>PhishMeNot/Access password manager</h3>
        <div class="user_circle">U</div>
      </header>
      <div class="body_list">
        <div class="btn_add">
          <button>+ Add new</button>
        </div>
        <div class="list_pass">
          <div class="item">
            <img src="../assets/ok.png" alt="" />
            <div class="info">
              <h4>facebook</h4>
              <p>***********************</p>
            </div>
            <div class="icons">
              <button>
                <img src="../assets/update-now.png" alt="" />
              </button>
              <button>
                <img src="../assets/delete.png" alt="" />
              </button>
            </div>
          </div>

          <div class="item">
            <img src="../assets/visa.png" alt="" />
            <div class="info">
              <h4>Card visa</h4>
              <p>*************0000</p>
            </div>
            <div class="icons">
              <button>
                <img src="../assets/update-now.png" alt="" />
              </button>
              <button>
                <img src="../assets/delete.png" alt="" />
              </button>
            </div>
          </div>
          

          <div class="item">
            <img src="../assets/visa.png" alt="" />
            <div class="info">
              <h4>Card visa</h4>
              <p>*************0000</p>
            </div>
            <div class="icons">
              <button>
                <img src="../assets/update-now.png" alt="" />
              </button>
              <button>
                <img src="../assets/delete.png" alt="" />
              </button>
            </div>
          </div>

          <div class="item">
            <img src="../assets/visa.png" alt="" />
            <div class="info">
              <h4>Card visa</h4>
              <p>*************0000</p>
            </div>
            <div class="icons">
              <button>
                <img src="../assets/update-now.png" alt="" />
              </button>
              <button>
                <img src="../assets/delete.png" alt="" />
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="right">
        <p>PhishMeNot All Right reserved</p>
        <p>© 2023</p>
      </div>
    </div>
  </body>
</html>
