<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PhiMeNot/Dashbaord</title>
<link rel="stylesheet" href="style.css">

	
</style>
</head>
<body>
<div id="PhiMeNotDashbaord">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="430" height="121">
		</rect>
	</svg>
	<svg class="Ellipse_1">
		<ellipse id="Ellipse_1" rx="33.5" ry="31.5" cx="33.5" cy="31.5">
		</ellipse>
	</svg>
	<div id="PhiMeNotDashboard">
		<span>PhiMeNot/Dashboard</span>
	</div>
	<img id="menu" src="image/menu.png" srcset="image/menu.png 1x, image/menu2.png 2x">
		
	<svg class="Ellipse_2">
		<ellipse id="Ellipse_2" rx="31" ry="30.5" cx="31" cy="30.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_3">
		<ellipse id="Ellipse_3" rx="31" ry="30.5" cx="31" cy="30.5">
		</ellipse>
	</svg>
	<div id="httpstestcom">
		<span>https://test.com</span>
	</div>
	<div id="Phishing_-Blocked">
		<span>Phishing -Blocked</span>
	</div>
	<div id="httpstest1com">
		<span>https://test1.com</span>
	</div>
	<div id="Nothing_Detected">
		<span>Nothing Detected</span>
	</div>
	<div id="Email_analyse">
		<span>Email analyse</span>
	</div>
	<div id="Since_10_minutes">
		<span>Since 10 minutes</span>
	</div>
	<svg class="Ellipse_5">
		<ellipse id="Ellipse_5" rx="22" ry="20.5" cx="22" cy="20.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_6">
		<ellipse id="Ellipse_6" rx="22" ry="20.5" cx="22" cy="20.5">
		</ellipse>
	</svg>
	<img id="image3" src="image/image3.png" srcset="image/image3.png 1x, image/image4.png 2x">
		
	<svg class="Ellipse_8">
		<ellipse id="Ellipse_8" rx="25.5" ry="26.5" cx="25.5" cy="26.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_9">
		<ellipse id="Ellipse_9" rx="25.5" ry="26.5" cx="25.5" cy="26.5">
		</ellipse>
	</svg>
	<svg class="Ellipse_10">
		<ellipse id="Ellipse_10" rx="25.5" ry="26.5" cx="25.5" cy="26.5">
		</ellipse>
	</svg>
	<svg class="Rectangle_4">
		<rect id="Rectangle_4" rx="14" ry="14" x="0" y="0" width="115" height="37">
		</rect>
	</svg>
	<div id="This_month">
		<span>This month</span>
	</div>
	<div id="n_5">
		<span>75%</span>
	</div>
	<div id="n_5_">
		<span>75%</span>
	</div>
	<svg class="Rectangle_5">
		<rect id="Rectangle_5" rx="14" ry="14" x="0" y="0" width="377" height="48">
		</rect>
	</svg>
	<div id="PhishMeNot_All_Right_reserved_">
		<span>PhishMeNot All Right reserved </span>
	</div>
	<div id="n_2023">
		<span>© 2023</span>
	</div>
	<div id="n_50">
		<span>150</span>
	</div>
	<div id="n_0">
		<span>40</span>
	</div>
	<div id="n_0_">
		<span>10</span>
	</div>
	<img id="image5" src="image/image5.png" srcset="image/image5.png 1x, image/image6.png 2x">
		
	<img id="detect" src="image/detect.png" srcset="image/detect.png 1x, image/detect2.png 2x">
		
	<img id="image1" src="image/image1.png" srcset="image/image1.png 1x, image/image2.png 2x">
		
	<div id="Site_non_dangereux">
		<span>Site non dangereux</span>
	</div>
	<div id="Site_dangereux">
		<span>Site dangereux</span>
	</div>
	<div id="Ma_White-list">
		<span>Ma White-list</span>
	</div>
	<div id="Analyser_un_site_web">
		<span>Analyser un site web</span>
	</div>
</div>
</body>
</html>